dataset_*
runs/*
__pycache__
.idea
ae_tab.py
evaluate_2.py
evaluate_classification.py
home.ui
new_gui.py
rd.py
test_recognition.py
test_reconstruct_image.py
tool_create_bgr_object_dataset.py
tool_create_cfa_dataset.py
tool_crop_object_with_bg.py
tool_filter_dataset.py
train_ae.py
train_classification.py
train_clss_2.py
train_test_split.py
untitled.ui
